@using ecommerce.data
@model IEnumerable<Product>
@{
    ViewData["Title"] = "ViewCart";
}

<h2>ViewCart</h2>
<div class="container" id="myCart">
    
</div>
@section scripts{ 
 <script src="~/js/viewCart.js"></script>
}